@charset "utf-8";

/*헤더구역, 풋터구역 등 기타 공통구역에 대한 스타일*/

#header {
    background: tomato;
}
.row {
    max-width: 1300px;
    margin: 0 auto;
}
.topmenu .row { 
    position: relative;
}
.topmenu {
    background:#0099d2;
    color: #e8e8e8;
    padding: 10px 15px;
}
.topmenu .login a {
    padding:0px 5px 0px 15px ;
    font-size: 14px;
    font-weight: bold;
}
.topmenu .login a:hover {
    color: #fff;
}
.topmenu .sns {
    position: absolute;
    top: 55%; right: 20px;
    transform: translateY(-55%);

}
.topmenu .sns a {
    display:inline-block;
    font-size: 27px;
    border-radius: 10px;
}
.topmenu .sns a:hover {
    color: #fff;
} 
.logoNav {
    position: relative;
}
.logoNav .nav {
    position: absolute;
    top: 55%; right: 50px;
    transform: translateY(-50%);
    z-index: 99999999; 

}
.logoNav .nav .depth1 > li {
    display: inline-block;
    position: relative;
    /* padding: 30px 25px; */
    /* background: red; */
    width: 129px;
    height: 90px;
}
.logoNav .nav .depth1 > li:hover .depth2 {
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;    
}
.logoNav .nav .depth1 > li > a {
    font-size: 16px;
    color: #fff;
    display:block;
    font-weight: bold;
    padding: 37px 0px;
    text-align: center;
}
.logoNav .nav .depth1 > li a:hover {
    color:#0099d2;
    transition: all 0.5s;
}
.logoNav .nav .depth2 {
    display: none;
}
.logoNav .nav .depth2 > li{
    animation:fadeInUp 0.5s both 1;
}
.logoNav .nav .depth2 > li > a {
    display:block;
    font-size: 14px;
    color:#fff;
    background-color: #0099d2;
    text-align: center;
    height: 40px;    
    padding:10px;
}
.logoNav .nav .depth2 > li > a:hover {
    background:rgba(31, 31, 31, 0.76);
    color:#fff;
}

/* #section {padding-top: 131px;} */
.slide {
    width: 100%;
    height: 950px;
    overflow: hidden;
}
.slide .slideInner {
    background-size: cover;
    background-repeat: no-repeat;
    height: 950px;
    background-position: center;
    position: relative;
}
.slide .slideInner:nth-child(1)
{background-image: url(../images/main_metapo02.jpg);}
.slide .slideInner:nth-child(2)
{background-image: url(../images/main_metapo03.jpg);}
.slide .slideInner:nth-child(3)
{background-image: url(../images/main_metapo01.jpg);}
.slide .slideInner .text {
    position: absolute;
    top:50%; left: 0%;
    transform: translateY(-50px);
    text-align: center;
    display: inline-block;
    width: 100%;
    font-family: '나눔고딕';
    padding-top: 50px;
    display: inline-block;

}
.slide .slideInner .text h2 {
    font-size: 57px;
    color: #fff;
    padding: 0px 55px 35px;
    position: relative;
    display: inline-block;

}
.slide .slideInner .text h2:after {
    content:''; width:300px; 
    height:2px; 
    background:#fff;
    position:absolute; bottom:0;
    left:50%; margin-left: -150px;
    display: inline-block;

}
.slide .slideInner .text h3 {
    font-size: 76px;
    color:#fff;
    padding: 25px 0px;
    margin:0 0 15px;
    display: inline-block;
    background-image: linear-gradient(90deg,rgba(255,255,255,0.00) 0%,rgba(255,255,255,0.20) 24.35%,rgba(255,255,255,0.20) 79.27%,rgba(255,255,255,0.00) 100%);
}
.slide .slideInner .text h4 {
    font-size: 28.5px;
    color:#fff;
    margin:0 0 100px;
    display: inline-block;

    
}
.pic4menu {padding: 60px 0;}
.pic4menu > .column {
    float: left;
    width: 48%;
}